{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load tz %} <!-- не забываем загрузить тег для работы с часовыми поясами -->

{% load custom_filters %}!
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}
<!-- Подключаем кэш -->
{% load cache %}

{% cache 60 news_all %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
    <!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
    <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style>
</head>
<body>

    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST-запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected >{% endif %} >
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

    {% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
    {% endfor %}


</body>
</html>

{% block content %}
    <h1>Все новости ({{ post_news.count}})</h1>
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
            {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
            {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>
   <!-- Вот так выглядело использование переменной и фильтра -->
    <h3>{% current_time '%b %d %Y %A' %}</h3>

    <hr>

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'article_add' %}">Добавить новость</a>
    {% endif %}


    {% if post_news %}
        <table>

            <tr>
                <td>Автор</td>
                <td>Новость/Статья</td>
                <td>Дата публикации</td>
                <td>Категория</td>
                <td>Заголовок</td>

                {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}


            </tr>
            {% for post_detail in post_news %}
            <tr>
                 <td>{{ post_detail.post_author }}</td>
                 <td>{{ post_detail.post_choice|truncatewords:20 }}</td>
                 <td>{{ post_detail.post_date }}</td>
                 <td>
                     {% for category in post_detail.post_category.all %}
                         <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                     {% endfor %}
                 </td>
                 <td>{{ post_detail.post_title|cenzor}}</td>

                 <td>
                     {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                     {% if perms.post_detail %}
                     <a href="{% url 'post_detail' post_detail.id %}">Открыть</a>
                     {% endif %}
                     {% if perms.news.change_post %}
                     <a href="{% url 'post_edit' post_detail.id %}">Изменить</a>
                     {% endif %}
                     {% if perms.news.delete_post %}
                     <a href="{% url 'post_delete' post_detail.id %}">Удалить</a>
                     {% endif %}
                 </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>новостей нет!</h2>
    {% endif %}
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
{% endcache %}