<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% load cache %}
{% cache 100 article %}
<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ _("Portal News") }}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST-запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                {{ language.name_local }} - {{ language.code }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>

    {% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
    {% endfor %}
<body>
<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
   <h1>{{ post_detail.post_title|cenzor }}</h1>
    <hr>
    {% if post_detail %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Содержание</td>
                 <td>Действия</td>
            </tr>
            <tr>
                <td>______________</td>
                <td>______________</td>
                <td>______________</td>
                <td>______________</td>
            </tr>
            <tr>
            <td>{{ post_detail.post_title|cenzor}}</td>
            <td>{{ post_detail.post_date|date:'d M Y'}}</td>
            <td>{{ post_detail.post_text|cenzor}}</td>
             <td>
            <a href="{% url 'post_edit' post_detail.id %}"><u>Редактировать</u></a> <!--ссылка на редактирование поста-->
            <a href="{% url 'post_delete' post_detail.id %}"><u> Удалить </u></a> <!-- ссылка на удаление поста-->
            </td>
        </tr>
        </table>
    {% else %}
        <h2>упс! её нет!</h2>
    {% endif %}
{% endblock content %}
{% endcache %}
