{% extends 'flatpages/default.html' %}

{% load custom_filters %}!
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

{% block title %}
Post_news
{% endblock title %}

{% block content %}
    <h1>Все новости ({{ post_news.count}})</h1>
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
            {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
            {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>
   <!-- Вот так выглядело использование переменной и фильтра -->
    <h3>{% current_time '%b %d %Y %A' %}</h3>

    <hr>

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'article_add' %}">Добавить новость</a>
    {% endif %}


    {% if category_news_list %}
        <table>

            <tr>
                <td>Автор</td>
                <td>Новость/Статья</td>
                <td>Дата публикации</td>
                <td>Категория</td>
                <td>Заголовок</td>

                {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}


            </tr>
            {% for post_detail in category_news_list %}
            <tr>
                <td>{{ post_detail.post_author }}</td>
                <td>{{ post_detail.post_choice|truncatewords:2 }}</td>
                <td>{{ post_detail.post_date }}</td>
                <td>
                    {% for category in post.post_category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>{{ post_detail.post_title|cenzor}}</td>с

                <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_edit' post_detail.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' post_detail.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>новостей нет!</h2>
    {% endif %}
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

{% endblock content %}
